.login-fill-image {
  object-fit: contain;
}

.custom-card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding-top: 20px;
  border: 1px solid #000;

  img {
    margin: auto;
    border-radius: 50%;
    width: 60%;
    height: 38%;
    border: 2px solid #000;
  }
}

.custom-btn {
  background-color: #cef14c;
  color: #000;
  border: none;
}

.custom-btn:hover {
  background-color: #000;
  color: #cef14c;
  border: 1px solid #cef14c;
}

.custom-btn:focus {
  background-color: #000;
  color: #cef14c;
  border: 1px solid #cef14c;
}

.custom-btn:active {
  background-color: #000;
  color: #cef14c;
  border: 1px solid #cef14c;
}

// .custom-btn:disabled {
//   background-color: #000;
//   color: #cef14c;
//   border: 1px solid #cef14c;
// }

// .custom-btn:visited {
//   background-color: #000;
//   color: #cef14c;
//   border: 1px solid #cef14c;
// }

// .custom-btn-outline {
//   background-color: #000;
//   color: #cef14c;
//   border: 1px solid #cef14c;
// }
